@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
#intro{
    background-image: url("intro.jpg");
    height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;

}
.transbox {
    opacity: 0.8;
    background-color: #ffffff;
    height: inherit;
    text-align: center;
    font-size: 20vmax;
}
.title {
    font-size: 8vmax;
    font-family: 'Dancing Script', cursive;
}
#opensc {
    background-image: url("absec.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
#icon {
    font-size: 20vmax;
}
